.vs/
MongoCrud/MongoCrud/bin
MongoCrud/MongoCrud/obj
*.nupkg
*.nupkg
*.json
*.dll
*.pdb
*.nuspec
MongoCrud/obj/Debug/net6.0/MongoCrud.AssemblyInfo.cs
MongoCrud/obj/Debug/net6.0/MongoCrud.AssemblyInfoInputs.cache
*.dll
*.pdb
*.dll
*.json
*.json
*.cache
